<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br /><br />
      <h1 class="header center teal-text text-lighten-2">
        My web Page
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">
          A modern responsive front-end framework based on Material Design
        </h5>
      </div>
      <div class="row center">
        <!-- <a
          href="#"
          id="download-button"
          class="btn-large waves-effect waves-light teal lighten-1"
          >Get Started</a
        > -->
        <!-- Modal Trigger -->
        <button data-target="modal1" class="btn modal-trigger">Modal</button>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat"
              >Agree</a
            >
          </div>
        </div>
        <!-- <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"
            >Agree</a
          >
        </div> -->
      </div>
      <br /><br />
    </div>
  </div>
  <div class="parallax">
    <img
      src="./../assets/img/background1.jpg"
      alt="Unsplashed background img 1"
    />
  </div>
</div>

<!-- Sample modal -->
<!-- <div class="container">
  <h2>modals</h2>

  <a href="#terms" class="btn orange">Terms & Conditions</a>

  <div class="modal" id="terms">
    <div class="modal-content">
      <h4>Terms And Conditions</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae
        provident et at possimus excepturi officia, culpa laboriosam accusamus
        ut expedita, nam maiores aliquid ea mollitia tempore itaque animi ullam
        fugiat!
      </p>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-close waves-effect btn-orange">Agree & Close</a>
    </div>
  </div>
</div> -->
