<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <div class="carousel">
          <a class="carousel-item" href="#one!"
            ><img src="../../../assets/img/angular.png"
          /></a>
          <a class="carousel-item" href="#two!"
            ><img src="../../../assets/img/node.png"
          /></a>
          <a class="carousel-item" href="#three!"
            ><img src="../../../assets/img/JS.png"
          /></a>
          <a class="carousel-item" href="#four!"
            ><img src="../../../assets/img/react.jpg"
          /></a>
          <a class="carousel-item" href="#five!"
            ><img src="../../../assets/img/coding.jpg"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
