<!-- <nav>navbar content here </nav> -->

<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="../assets/img/background1.jpg" />
      </div>
      <a href="#user"><img class="circle" src="../assets/img/mob1.png"/></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"
        ><span class="white-text email">jdandturk@gmail.com</span></a
      >
    </div>
  </li>
  <li>
    <a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a>
  </li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"
  ><i class="material-icons">menu</i></a
>
<!-- nav.component.html -->
<app-nav></app-nav>
<!--/ nav.component.html -->

<!-- banner-one.component.html -->
<app-demo></app-demo>
<!--/ banner-one.component.html -->

<!-- products.component.html -->
<app-prod></app-prod>
<app-icon-info></app-icon-info>
<!--/ products.component.html -->

<!-- banner-two.component.html -->
<app-banner2></app-banner2>
<!--/ banner-two.component.html -->

<!-- contact-us.component.html -->
<app-contact></app-contact>
<!--/ contact-us.component.html -->

<!-- banner-three.component.html -->
<app-banner3></app-banner3>
<!--/ banner-three.component.html -->

<!-- footer.component.html -->
<app-footer></app-footer>
<!-- footer.component.html -->
