<!-- nav.component.html -->
<app-nav></app-nav>
<!--/ nav.component.html -->

<!-- banner-one.component.html -->
<app-demo></app-demo>
<!--/ banner-one.component.html -->

<!-- products.component.html -->
<app-prod></app-prod>
<app-icon-info></app-icon-info>
<!--/ products.component.html -->

<!-- banner-two.component.html -->
<app-banner2></app-banner2>
<!--/ banner-two.component.html -->

<!-- contact-us.component.html -->
<app-contact></app-contact>
<!--/ contact-us.component.html -->

<!-- banner-three.component.html -->
<app-banner3></app-banner3>
<!--/ banner-three.component.html -->

<!-- footer.component.html -->
<app-footer></app-footer>
<!-- footer.component.html -->
