<div class="row">
  <div class="col lg3 md4 sm6 xs12">
    <div class="thumbnail">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.05339722186!2d73.84040631486444!3d18.526488987405568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c07d58350a4d%3A0x9bd9629d6dab9d90!2sSevenMentor%20HR%20Services!5e0!3m2!1sen!2sin!4v1584080684509!5m2!1sen!2sin"
        width="500"
        height="450"
        frameborder="0"
        style="border:0;"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe
      >&nbsp;&nbsp;
    </div>
  </div>
  <div class="col lg3 md4 sm6 xs12">
    <div class="thumbnail">
      <iframe
        width="500"
        height="450"
        src="https://www.youtube.com/embed/x4q86IjJFag"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;margin-left:20%"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<br /><br />
